body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
  margin: 3.125em auto 6.25em;
  padding: 0 20px;
  text-align: center;
  width: 41.25em;

  h1 {
    font-size: 2.125em;
    line-height: .882em;
    text-transform: uppercase;

    span {
      color: #aaa;
      display: block;
      font-size: .588em;
      line-height: 1em;
    }

    &:hover {
      color: #666;

      span {
        color: #666;
      }
    }
  }

  h2 {
    border-top: 1px solid #ddd;
    margin-bottom: .625em;
    margin-top: 1.875em;
    padding-top: 1.875em;

    span {
      color: #666;
    }
  }

  li {
    display: inline-block;
    margin: .625em;
  }

  img {
    border: .625em solid rgba(255, 255, 255, .5);
    // border-color: #eee;

    -moz-box-shadow: 0 0 .313em rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 0 .313em rgba(0, 0, 0, .05);
    box-shadow: 0 0 .313em rgba(0, 0, 0, .05);
    height: 8.75em;

    -moz-transition: -moz-box-shadow .3s ease, border-color .3s ease;
    -ms-transition: -ms-box-shadow .3s ease, border-color .3s ease;
    -o-transition: -o-box-shadow .3s ease, border-color .3s ease;
    -webkit-transition: -webkit-box-shadow .3s ease, border-color .3s ease;
    transition: box-shadow .3s ease, border-color .3s ease;
    width: 8.75em;

    &:hover {
      border-color: #fff;

      -moz-box-shadow: 0 0 .938em rgba(0, 0, 0, .25);
      -webkit-box-shadow: 0 0 .938em rgba(0, 0, 0, .25);
      box-shadow: 0 0 .938em rgba(0, 0, 0, .25);
    }
  }

  footer {
    border-top: 1px solid #ddd;
    color: #aaa;
    font-size: .875em;
    margin-top: 2.143em;
    padding-top: 2.143em;
  }
}

@media only screen and (max-width: 660px) {
  #container {
    width: 100%;
  }
}

ul {
  padding: 0;
}
