
@import "plugins/activity-indicator";
@import "plugins/overlay";
@import "plugins/closebutton";
@import "plugins/navigation";
@import "plugins/caption";

@mixin touch-action($value) {
  -ms-touch-action: $value;
  touch-action: $value;
}

html {
  // killing 300ms touch delay in IE
  @include touch-action(manipulation);
}

#imagelightbox {
  @include touch-action(none);
  box-shadow: rgba(0, 0, 0, .75) 0 0 50px;
  cursor: pointer;
  position: fixed;
  z-index: 10000;
}

